language: java
jdk:
- oraclejdk8

sudo: false
install: true

script:
 - pwd
 - cd webapp
 - mvn install
 - mvn package
 - ls -al
 - cd ../../..
 - pwd

after_success:
  - pwd
  - ls -al
  - mkdir codedeploy_artifact
  - pwd
  - cp infrastructure/aws/codedeploy/*.sh .
  - cp infrastructure/aws/codedeploy/*.yml .
  - zip -r csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip webapp/build/libs/ROOT.war *.sh *.yml
  - ls -al
  - mv csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip codedeploy_artifact/
  - ls -al
  - pwd
  - cd codedeploy_artifact
  - ls -al
  - pwd
  - cd ..
  - pwd
  - ls -al


branches:
 only:
   - dA5
